

@import url('https://fonts.googleapis.com/css2? family= Advent+Pro & familia= Inter:peso@100 & display=swap');


/* 
  font-family: 'Advent Pro', sans-serif;
  font-family: 'Inter', sans-serif; */

  
:root {

    --clr-main: #557e9e;
    --clr-white: #d2cfb0;



}

h1, h2, h4, h5, h6, p, a, input, ul{
    margin: 0;
    padding: 0;
}

.titulo-principal{
    color: var(--clr-white);
    display: flex;
    justify-content: center;
}


/* main */
.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}


/* menu */

.boton-menu {
    
    background-color: transparent;
    color: var(--clr-main);
}

.boton_1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:var(--clr-main); ;
}


/* carrito */

.carrito-producto {
    font-family:'Advent Pro', sans-serif;
    font-size:medium;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}



.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-main);
    cursor: pointer;
}



.carrito-acciones {
    display: flex;
    justify-content:space-evenly
}



.carrito-acciones-derecha {
    display: flex;

}

.carrito-acciones-total {
    font-family:'Advent Pro', sans-serif;
    display: flex;
    background-color: var(--clr-white);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-boton{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}


.carrito-boton:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.seguir-comprando{
    text-decoration:none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.disabled {
    display: none;
}